set autoindent
set casesensitive
set const
set morespace
set smarthome
set tabsize 4
set tabstospaces

set titlecolor brightwhite,blue
set statuscolor brightwhite,blue
set keycolor blue
set functioncolor green

bind ^S savefile main